In [7]:
%matplotlib notebook

import pandas as pd
from motionchart.motionchart import MotionChart

In [2]:
df = pd.read_csv('CityPairs.csv')
df

,Month,AustralianPort,ForeignPort,Country,Passengers_In,Freight_In_(tonnes),Mail_In_(tonnes),Passengers_Out,Freight_Out_(tonnes),Mail_Out_(tonnes),Passengers_Total,Freight_Total_(tonnes),Mail_Total_(tonnes),Year,Month_num
0,31048,Adelaide,Auckland,New Zealand,1513,42.167,0.311,985,18.704,0.924,2498,60.871,1.235,1985,1
1,31048,Adelaide,Bahrain,Bahrain,12,0.000,0.000,5,0.033,0.000,17,0.033,0.000,1985,1
2,31048,Adelaide,Bombay,India,7,0.000,0.000,5,0.000,0.000,12,0.000,0.000,1985,1
3,31048,Adelaide,Frankfurt,Germany,115,0.009,0.000,171,0.000,0.248,286,0.009,0.248,1985,1
4,31048,Adelaide,London,UK,1567,2.800,0.000,1472,10.618,2.487,3039,13.418,2.487,1985,1
5,31048,Adelaide,Muscat,Oman,17,0.000,0.000,14,0.100,0.000,31,0.100,0.000,1985,1
6,31048,Adelaide,Rome,Italy,79,0.005,0.000,44,0.000,0.000,123,0.005,0.000,1985,1
7,31048,Adelaide,Singapore,Singapore,2496,37.345,0.000,2037,133.203,0.112,4533,170.548,0.112,1985,1
8,31048,Brisbane,Abu Dhabi,United Arab Emirates,0,0.000,0.000,3,0.000,0.000,3,0.000,0.000,1985,1
9,31048,Brisbane,Auckland,New Zealand,7157,223.258,0.671,5652,33.032,3.218,12809,256.290,3.889,1985,1
10,31048,Brisbane,Bahrain,Bahrain,12,0.000,0.000,15,0.149,0.000,27,0.149,0.000,1985,1
11,31048,Brisbane,Bangkok,Thailand,623,7.746,0.000,414,3.995,0.000,1037,11.741,0.000,1985,1
12,31048,Brisbane,Bombay,India,55,0.000,0.000,34,0.002,0.083,89,0.002,0.083,1985,1
13,31048,Brisbane,Christchurch,New Zealand,3148,132.129,0.256,2057,13.745,0.000,5205,145.874,0.256,1985,1
14,31048,Brisbane,Frankfurt,Germany,122,0.000,0.000,161,0.021,0.677,283,0.021,0.677,1985,1
15,31048,Brisbane,Hong Kong,Hong Kong,1911,9.352,0.000,1163,38.950,0.014,3074,48.302,0.014,1985,1
16,31048,Brisbane,Honiara,Solomon Islands,574,3.227,0.000,578,12.322,0.000,1152,15.549,0.000,1985,1
17,31048,Brisbane,Honolulu,USA,447,6.618,0.000,207,0.433,0.000,654,7.051,0.000,1985,1
18,31048,Brisbane,Kuala Lumpur,Malaysia,45,0.100,0.000,38,0.100,0.000,83,0.200,0.000,1985,1
19,31048,Brisbane,London,UK,1753,4.300,0.000,1449,1.861,3.454,3202,6.161,3.454,1985,1
20,31048,Brisbane,Los Angeles,USA,57,2.796,0.000,0,0.000,0.000,57,2.796,0.000,1985,1
21,31048,Brisbane,Manila,Philippines,1095,3.911,0.000,710,12.120,0.127,1805,16.031,0.127,1985,1
22,31048,Brisbane,Muscat,Oman,4,0.000,0.000,0,0.000,0.000,4,0.000,0.000,1985,1
23,31048,Brisbane,Nadi,Fiji,809,4.120,0.000,530,4.914,0.000,1339,9.034,0.000,1985,1
24,31048,Brisbane,Noumea,New Caledonia,384,0.248,0.000,247,0.167,0.000,631,0.415,0.000,1985,1
25,31048,Brisbane,Port Moresby,Papua New Guinea,2011,20.256,0.448,1917,33.194,2.643,3928,53.450,3.091,1985,1
26,31048,Brisbane,Port Vila,Vanuatu,459,0.365,0.000,228,2.735,0.000,687,3.100,0.000,1985,1
27,31048,Brisbane,Rome,Italy,38,0.000,0.000,34,0.012,0.113,72,0.012,0.113,1985,1
28,31048,Brisbane,San Francisco,USA,458,0.000,0.000,315,1.716,1.538,773,1.716,1.538,1985,1
29,31048,Brisbane,Singapore,Singapore,2730,38.395,0.000,1863,63.976,0.221,4593,102.371,0.221,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72942,42491,Sydney,Louisville,USA,0,1021.355,0.000,0,0.000,0.000,0,1021.355,0.000,2016,5
72943,42491,Sydney,Macau,Macau,0,0.000,0.000,0,6.000,0.000,0,6.000,0.000,2016,5
72944,42491,Sydney,Manila,Philippines,15487,268.874,2.244,13264,232.402,1.090,28751,501.276,3.334,2016,5
72945,42491,Sydney,Nadi,Fiji,18493,296.819,0.049,17470,333.486,8.926,35963,630.305,8.975,2016,5
72946,42491,Sydney,Nanjing,China,1002,21.423,3.979,1085,0.100,0.000,2087,21.523,3.979,2016,5
72947,42491,Sydney,New Delhi,India,3834,61.154,12.028,2568,25.467,0.000,6402,86.621,12.028,2016,5
72948,42491,Sydney,New York,USA,3481,275.283,0.720,3835,39.843,13.585,7316,315.126,14.305,2016,5
72949,42491,Sydney,Noumea,New Caledonia,3629,2.302,0.529,3232,66.295,5.689,6861,68.597,6.218,2016,5
72950,42491,Sydney,Osaka,Japan,104,6.318,0.000,0,0.000,0.000,104,6.318,0.000,2016,5
72951,42491,Sydney,Phuket,Thailand,4618,56.970,0.000,4700,13.332,0.000,9318,70.302,0.000,2016,5
72952,42491,Sydney,Port Moresby,Papua New Guinea,616,0.752,0.000,714,4.684,0.000,1330,5.436,0.000,2016,5
72953,42491,Sydney,Port Vila,Vanuatu,2374,3.486,2.341,2334,20.506,2.322,4708,23.992,4.663,2016,5
72954,42491,Sydney,Queenstown,New Zealand,5520,0.000,0.000,4674,0.000,0.000,10194,0.000,0.000,2016,5
72955,42491,Sydney,Rarotonga,Cook Islands,661,0.106,0.008,716,24.760,0.000,1377,24.866,0.008,2016,5
72956,42491,Sydney,San Francisco,USA,11070,212.099,7.711,13425,327.709,3.683,24495,539.808,11.394,2016,5
72957,42491,Sydney,Santiago,Chile,7960,103.863,1.401,7703,131.171,3.686,15663,235.034,5.087,2016,5
72958,42491,Sydney,Seoul,Korea,14266,262.382,79.013,14767,374.302,4.012,29033,636.684,83.025,2016,5
72959,42491,Sydney,Shanghai,China,16363,777.110,53.147,16853,574.145,52.290,33216,1351.255,105.437,2016,5
72960,42491,Sydney,Shenzhen,China,1734,127.339,0.000,1392,190.188,0.000,3126,317.527,0.000,2016,5
72961,42491,Sydney,Singapore,Singapore,49604,3119.953,168.434,54114,2835.210,17.245,103718,5955.163,185.679,2016,5
72962,42491,Sydney,Suva,Fiji,413,0.000,0.000,483,0.000,0.000,896,0.000,0.000,2016,5
72963,42491,Sydney,Taipei,Taiwan,3433,100.413,40.967,3622,52.822,3.625,7055,153.235,44.592,2016,5
72964,42491,Sydney,Tokyo,Japan,17423,1013.019,169.211,20003,545.747,27.549,37426,1558.766,196.760,2016,5
72965,42491,Sydney,Tongatapu,Tonga,1183,1.552,0.000,1132,1.290,0.000,2315,2.842,0.000,2016,5
72966,42491,Sydney,Toronto,Canada,1070,0.000,0.000,993,0.000,0.000,2063,0.000,0.000,2016,5
72967,42491,Sydney,Vancouver,Canada,4903,266.730,16.559,7235,69.625,13.946,12138,336.355,30.505,2016,5
72968,42491,Sydney,Wellington,New Zealand,11195,16.219,0.266,10944,21.179,0.026,22139,37.398,0.292,2016,5
72969,42491,Sydney,Xiamen,China,1305,70.083,5.882,1223,85.279,0.000,2528,155.362,5.882,2016,5
72970,42491,Sydney,Zhengzhou,China,0,10.593,0.000,0,71.223,0.000,0,81.816,0.000,2016,5
72971,42491,Townsville,Denpasar,Indonesia,1685,0.000,0.000,1933,0.000,0.000,3618,0.000,0.000,2016,5

In [3]:
df = df.loc[df['AustralianPort'].isin(['Melbourne', 'Sydney', 'Brisbane', 'Perth'])]
df

,Month,AustralianPort,ForeignPort,Country,Passengers_In,Freight_In_(tonnes),Mail_In_(tonnes),Passengers_Out,Freight_Out_(tonnes),Mail_Out_(tonnes),Passengers_Total,Freight_Total_(tonnes),Mail_Total_(tonnes),Year,Month_num
8,31048,Brisbane,Abu Dhabi,United Arab Emirates,0,0.000,0.000,3,0.000,0.000,3,0.000,0.000,1985,1
9,31048,Brisbane,Auckland,New Zealand,7157,223.258,0.671,5652,33.032,3.218,12809,256.290,3.889,1985,1
10,31048,Brisbane,Bahrain,Bahrain,12,0.000,0.000,15,0.149,0.000,27,0.149,0.000,1985,1
11,31048,Brisbane,Bangkok,Thailand,623,7.746,0.000,414,3.995,0.000,1037,11.741,0.000,1985,1
12,31048,Brisbane,Bombay,India,55,0.000,0.000,34,0.002,0.083,89,0.002,0.083,1985,1
13,31048,Brisbane,Christchurch,New Zealand,3148,132.129,0.256,2057,13.745,0.000,5205,145.874,0.256,1985,1
14,31048,Brisbane,Frankfurt,Germany,122,0.000,0.000,161,0.021,0.677,283,0.021,0.677,1985,1
15,31048,Brisbane,Hong Kong,Hong Kong,1911,9.352,0.000,1163,38.950,0.014,3074,48.302,0.014,1985,1
16,31048,Brisbane,Honiara,Solomon Islands,574,3.227,0.000,578,12.322,0.000,1152,15.549,0.000,1985,1
17,31048,Brisbane,Honolulu,USA,447,6.618,0.000,207,0.433,0.000,654,7.051,0.000,1985,1
18,31048,Brisbane,Kuala Lumpur,Malaysia,45,0.100,0.000,38,0.100,0.000,83,0.200,0.000,1985,1
19,31048,Brisbane,London,UK,1753,4.300,0.000,1449,1.861,3.454,3202,6.161,3.454,1985,1
20,31048,Brisbane,Los Angeles,USA,57,2.796,0.000,0,0.000,0.000,57,2.796,0.000,1985,1
21,31048,Brisbane,Manila,Philippines,1095,3.911,0.000,710,12.120,0.127,1805,16.031,0.127,1985,1
22,31048,Brisbane,Muscat,Oman,4,0.000,0.000,0,0.000,0.000,4,0.000,0.000,1985,1
23,31048,Brisbane,Nadi,Fiji,809,4.120,0.000,530,4.914,0.000,1339,9.034,0.000,1985,1
24,31048,Brisbane,Noumea,New Caledonia,384,0.248,0.000,247,0.167,0.000,631,0.415,0.000,1985,1
25,31048,Brisbane,Port Moresby,Papua New Guinea,2011,20.256,0.448,1917,33.194,2.643,3928,53.450,3.091,1985,1
26,31048,Brisbane,Port Vila,Vanuatu,459,0.365,0.000,228,2.735,0.000,687,3.100,0.000,1985,1
27,31048,Brisbane,Rome,Italy,38,0.000,0.000,34,0.012,0.113,72,0.012,0.113,1985,1
28,31048,Brisbane,San Francisco,USA,458,0.000,0.000,315,1.716,1.538,773,1.716,1.538,1985,1
29,31048,Brisbane,Singapore,Singapore,2730,38.395,0.000,1863,63.976,0.221,4593,102.371,0.221,1985,1
30,31048,Brisbane,Suva,Fiji,53,0.303,0.000,76,0.034,0.000,129,0.337,0.000,1985,1
31,31048,Brisbane,Tokyo,Japan,536,4.085,0.000,384,4.713,0.212,920,8.798,0.212,1985,1
32,31048,Brisbane,Vancouver,Canada,142,0.937,0.000,86,0.502,0.467,228,1.439,0.467,1985,1
33,31048,Brisbane,Wellington,New Zealand,1244,40.824,0.279,1017,9.757,0.366,2261,50.581,0.645,1985,1
50,31048,Melbourne,Abu Dhabi,United Arab Emirates,19,0.000,0.000,0,0.000,0.000,19,0.000,0.000,1985,1
51,31048,Melbourne,Amsterdam,Netherlands,924,11.689,0.429,565,1.857,3.240,1489,13.546,3.669,1985,1
52,31048,Melbourne,Athens,Greece,1753,21.253,2.337,904,1.222,1.791,2657,22.475,4.128,1985,1
53,31048,Melbourne,Auckland,New Zealand,6039,200.015,0.799,5328,155.065,3.726,11367,355.080,4.525,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72941,42491,Sydney,Los Angeles,USA,32161,2477.719,223.994,31907,780.148,39.505,64068,3257.867,263.499,2016,5
72942,42491,Sydney,Louisville,USA,0,1021.355,0.000,0,0.000,0.000,0,1021.355,0.000,2016,5
72943,42491,Sydney,Macau,Macau,0,0.000,0.000,0,6.000,0.000,0,6.000,0.000,2016,5
72944,42491,Sydney,Manila,Philippines,15487,268.874,2.244,13264,232.402,1.090,28751,501.276,3.334,2016,5
72945,42491,Sydney,Nadi,Fiji,18493,296.819,0.049,17470,333.486,8.926,35963,630.305,8.975,2016,5
72946,42491,Sydney,Nanjing,China,1002,21.423,3.979,1085,0.100,0.000,2087,21.523,3.979,2016,5
72947,42491,Sydney,New Delhi,India,3834,61.154,12.028,2568,25.467,0.000,6402,86.621,12.028,2016,5
72948,42491,Sydney,New York,USA,3481,275.283,0.720,3835,39.843,13.585,7316,315.126,14.305,2016,5
72949,42491,Sydney,Noumea,New Caledonia,3629,2.302,0.529,3232,66.295,5.689,6861,68.597,6.218,2016,5
72950,42491,Sydney,Osaka,Japan,104,6.318,0.000,0,0.000,0.000,104,6.318,0.000,2016,5
72951,42491,Sydney,Phuket,Thailand,4618,56.970,0.000,4700,13.332,0.000,9318,70.302,0.000,2016,5
72952,42491,Sydney,Port Moresby,Papua New Guinea,616,0.752,0.000,714,4.684,0.000,1330,5.436,0.000,2016,5
72953,42491,Sydney,Port Vila,Vanuatu,2374,3.486,2.341,2334,20.506,2.322,4708,23.992,4.663,2016,5
72954,42491,Sydney,Queenstown,New Zealand,5520,0.000,0.000,4674,0.000,0.000,10194,0.000,0.000,2016,5
72955,42491,Sydney,Rarotonga,Cook Islands,661,0.106,0.008,716,24.760,0.000,1377,24.866,0.008,2016,5
72956,42491,Sydney,San Francisco,USA,11070,212.099,7.711,13425,327.709,3.683,24495,539.808,11.394,2016,5
72957,42491,Sydney,Santiago,Chile,7960,103.863,1.401,7703,131.171,3.686,15663,235.034,5.087,2016,5
72958,42491,Sydney,Seoul,Korea,14266,262.382,79.013,14767,374.302,4.012,29033,636.684,83.025,2016,5
72959,42491,Sydney,Shanghai,China,16363,777.110,53.147,16853,574.145,52.290,33216,1351.255,105.437,2016,5
72960,42491,Sydney,Shenzhen,China,1734,127.339,0.000,1392,190.188,0.000,3126,317.527,0.000,2016,5
72961,42491,Sydney,Singapore,Singapore,49604,3119.953,168.434,54114,2835.210,17.245,103718,5955.163,185.679,2016,5
72962,42491,Sydney,Suva,Fiji,413,0.000,0.000,483,0.000,0.000,896,0.000,0.000,2016,5
72963,42491,Sydney,Taipei,Taiwan,3433,100.413,40.967,3622,52.822,3.625,7055,153.235,44.592,2016,5
72964,42491,Sydney,Tokyo,Japan,17423,1013.019,169.211,20003,545.747,27.549,37426,1558.766,196.760,2016,5
72965,42491,Sydney,Tongatapu,Tonga,1183,1.552,0.000,1132,1.290,0.000,2315,2.842,0.000,2016,5
72966,42491,Sydney,Toronto,Canada,1070,0.000,0.000,993,0.000,0.000,2063,0.000,0.000,2016,5
72967,42491,Sydney,Vancouver,Canada,4903,266.730,16.559,7235,69.625,13.946,12138,336.355,30.505,2016,5
72968,42491,Sydney,Wellington,New Zealand,11195,16.219,0.266,10944,21.179,0.026,22139,37.398,0.292,2016,5
72969,42491,Sydney,Xiamen,China,1305,70.083,5.882,1223,85.279,0.000,2528,155.362,5.882,2016,5
72970,42491,Sydney,Zhengzhou,China,0,10.593,0.000,0,71.223,0.000,0,81.816,0.000,2016,5

In [4]:
df = df.filter(items=[
    'AustralianPort',
    'Year',
    'Passengers_Total',
    'Freight_Total_(tonnes)',
    'Mail_Total_(tonnes)'
])
df

,AustralianPort,Year,Passengers_Total,Freight_Total_(tonnes),Mail_Total_(tonnes)
8,Brisbane,1985,3,0.000,0.000
9,Brisbane,1985,12809,256.290,3.889
10,Brisbane,1985,27,0.149,0.000
11,Brisbane,1985,1037,11.741,0.000
12,Brisbane,1985,89,0.002,0.083
13,Brisbane,1985,5205,145.874,0.256
14,Brisbane,1985,283,0.021,0.677
15,Brisbane,1985,3074,48.302,0.014
16,Brisbane,1985,1152,15.549,0.000
17,Brisbane,1985,654,7.051,0.000
18,Brisbane,1985,83,0.200,0.000
19,Brisbane,1985,3202,6.161,3.454
20,Brisbane,1985,57,2.796,0.000
21,Brisbane,1985,1805,16.031,0.127
22,Brisbane,1985,4,0.000,0.000
23,Brisbane,1985,1339,9.034,0.000
24,Brisbane,1985,631,0.415,0.000
25,Brisbane,1985,3928,53.450,3.091
26,Brisbane,1985,687,3.100,0.000
27,Brisbane,1985,72,0.012,0.113
28,Brisbane,1985,773,1.716,1.538
29,Brisbane,1985,4593,102.371,0.221
30,Brisbane,1985,129,0.337,0.000
31,Brisbane,1985,920,8.798,0.212
32,Brisbane,1985,228,1.439,0.467
33,Brisbane,1985,2261,50.581,0.645
50,Melbourne,1985,19,0.000,0.000
51,Melbourne,1985,1489,13.546,3.669
52,Melbourne,1985,2657,22.475,4.128
53,Melbourne,1985,11367,355.080,4.525
...,...,...,...,...,...
72941,Sydney,2016,64068,3257.867,263.499
72942,Sydney,2016,0,1021.355,0.000
72943,Sydney,2016,0,6.000,0.000
72944,Sydney,2016,28751,501.276,3.334
72945,Sydney,2016,35963,630.305,8.975
72946,Sydney,2016,2087,21.523,3.979
72947,Sydney,2016,6402,86.621,12.028
72948,Sydney,2016,7316,315.126,14.305
72949,Sydney,2016,6861,68.597,6.218
72950,Sydney,2016,104,6.318,0.000
72951,Sydney,2016,9318,70.302,0.000
72952,Sydney,2016,1330,5.436,0.000
72953,Sydney,2016,4708,23.992,4.663
72954,Sydney,2016,10194,0.000,0.000
72955,Sydney,2016,1377,24.866,0.008
72956,Sydney,2016,24495,539.808,11.394
72957,Sydney,2016,15663,235.034,5.087
72958,Sydney,2016,29033,636.684,83.025
72959,Sydney,2016,33216,1351.255,105.437
72960,Sydney,2016,3126,317.527,0.000
72961,Sydney,2016,103718,5955.163,185.679
72962,Sydney,2016,896,0.000,0.000
72963,Sydney,2016,7055,153.235,44.592
72964,Sydney,2016,37426,1558.766,196.760
72965,Sydney,2016,2315,2.842,0.000
72966,Sydney,2016,2063,0.000,0.000
72967,Sydney,2016,12138,336.355,30.505
72968,Sydney,2016,22139,37.398,0.292
72969,Sydney,2016,2528,155.362,5.882
72970,Sydney,2016,0,81.816,0.000

In [5]:
grouped_year_port = df.groupby(['AustralianPort', 'Year'])
df = grouped_year_port.sum()
df

                     Passengers_Total  Freight_Total_(tonnes)  \
AustralianPort Year
Brisbane       1985            492466               12130.700
               1986            576663               13925.564
               1987            697453               17614.530
               1988            958795               23941.052
               1989            946067               29846.663
               1990           1062737               31117.694
               1991           1202170               35362.190
               1992           1312939               38289.617
               1993           1542211               45767.913
               1994           1686057               51618.636
               1995           1965327               56067.060
               1996           2192110               60275.940
               1997           2294900               73588.313
               1998           2251240               72059.149
               1999           2375767               74090.652
               2000           2461378               79086.542
               2001           2547720               76304.141
               2002           2493082               74552.193
               2003           2549444               66911.404
               2004           3266481               77893.278
               2005           3606690               81010.104
               2006           3763314               89769.884
               2007           3921752               86375.436
               2008           4035790               86151.506
               2009           4117171               81203.038
               2010           4282257               95351.268
               2011           4444867              101306.986
               2012           4471413              103090.901
               2013           4669141              106075.545
               2014           4964981              114352.603
...                               ...                     ...
Sydney         1987           3569509              158198.254
               1988           4106460              169022.590
               1989           4026296              193957.314
               1990           4264091              195776.001
               1991           4220272              193499.302
               1992           4505656              221646.058
               1993           4778015              242932.406
               1994           5358494              278912.250
               1995           5838451              289008.200
               1996           6477744              303960.775
               1997           6840696              338924.034
               1998           6933551              335499.765
               1999           7388153              349774.072
               2000           8237223              328750.664
               2001           8228973              305817.401
               2002           8006775              305379.595
               2003           7929841              287161.664
               2004           8951825              323603.612
               2005           9515983              346563.213
               2006           9865970              363299.796
               2007          10378240              379762.748
               2008          10552900              374539.515
               2009          10635270              349934.648
               2010          11455537              391059.876
               2011          11748582              408593.418
               2012          12369193              418242.170
               2013          12933885              413568.655
               2014          13315835              411083.644
               2015          13911228              443373.635
               2016           6186627              190861.843

                     Mail_Total_(tonnes)
AustralianPort Year
Brisbane       1985              232.588
               1986              303.250
               1987              402.029
               1988              756.031
               1989             1052.270
               1990             1213.883
               1991             1236.324
               1992             1440.426
               1993             1678.700
               1994             1664.870
               1995             2107.009
               1996             2034.969
               1997             2155.491
               1998             1694.143
               1999             2224.709
               2000             2687.519
               2001             2947.421
               2002             3023.451
               2003             2534.107
               2004             2854.180
               2005             2836.750
               2006             3063.032
               2007             3497.213
               2008             3891.271
               2009             3534.982
               2010             3918.677
               2011             4433.116
               2012             4611.991
               2013             4359.100
               2014             3856.171
...                                  ...
Sydney         1987             3512.471
               1988             6642.487
               1989             8934.256
               1990             9868.353
               1991             9994.147
               1992             9930.053
               1993             9848.984
               1994            10262.976
               1995            10368.935
               1996            11239.401
               1997            13239.084
               1998            15108.682
               1999            15826.529
               2000            17722.078
               2001            16775.270
               2002            16386.839
               2003            17423.565
               2004            17228.916
               2005            18754.480
               2006            18766.389
               2007            21970.443
               2008            23718.000
               2009            22256.611
               2010            24096.445
               2011            26958.605
               2012            26304.486
               2013            24482.237
               2014            25019.844
               2015            22478.601
               2016             8788.413

[128 rows x 3 columns]

In [10]:
chart = MotionChart(df = df)
chart.to_notebook()